/* Стили для кастомного скроллбара в модалке */
.modal-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.modal-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin: 0;
  border: none;
}

.modal-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.modal-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
  border-radius: 6px;
}

.modal-scrollbar::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

.modal-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

/* Для Firefox */
.modal-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 transparent;
}